
@{
    ViewBag.Title = "Messages";
}

<div  class="message-header">
    <h1>Message Board</h1>
    <p class="lead"> Latest messages....</p>
    

</div>
<div class="message row">

    <div class="title span10"> whatever title words</div>
    <div class="date span2">Feb 23 2014</div>
    <div class="contents"> there are many techniques to be learned there are many techniques to be learned there are many techniques to be learned</div>
    <div class="toolbar span12">
        <button class="btn btn-primary reply-button"> Reply</button>
    </div>
    <div class="replies span12">
        <div class="reply">            
             <div class="created pull-right"> Feb 23 2014</div>
            <div class="content">
                here is content
            </div>
       </div>
        <div class="reply">
            <div class="created pull-right"> Feb 23 2014</div>
            <div class="content">
                here is content
            </div>
        </div>
        <div class="reply">
            <div class="created pull-right"> Feb 23 2014</div>
            <div class="content">
                here is content
            </div>
        </div>
     </div>
</div>
<div class="message row">

    <div class="title span10"> whatever title words</div>
    <div class="date span2">Feb 23 2014</div>
    <div class="contents">
     there are many techniques to be learned there are many techniques to be learned there are many techniques to be learned</div>
    <div class="toolbar span12">
        <button class="btn btn-primary reply-button"> Reply</button>
    </div>
    <div class="replies span12">
     <div class="reply">
      <div class="created pull-right"> Feb 23 2014</div>
      <div class="content">        here is content    </div>
     </div>
        <div class="reply">
            <div class="created pull-right"> Feb 23 2014</div>
            <div class="content">
                here is content
            </div>
        </div>
        <div class="reply">
            <div class="created pull-right"> Feb 23 2014</div>
            <div class="content">
                here is content
            </div>
        </div>
    </div>
</div>
<div class="message row">

    <div class="title span10"> whatever title words</div>
    <div class="date span2">Feb 23 2014</div>
    <div class="contents"> there are many techniques to be learned there are many techniques to be learned there are many techniques to be learned</div>
    <div class="toolbar span12">
        <button class="btn btn-primary reply-button"> Reply</button>
    </div>
    <div class="replies span12">
        <div class="reply">

           <div class="created pull-right"> Feb 23 2014</div>
           <div class="content">        here is content    </div>
       </div>
        <div class="reply">
            <div class="created pull-right"> Feb 23 2014</div>
            <div class="content">
                here is content
            </div>
        </div>
    </div>
</div>

