<div>
    Hello Hello!!!!!!!!!!
  <div class="message-header">
        <h1>Message Board</h1>
        <p>Latest Messages ....</p>

    </div>
    <div>Messages Count:{{data.length}}</div>
    <div class="progress progress-striped active" >
        <div class="bar" style="width:100%"></div>
    </div>
    <div class="messages">
        <div class="message row " data-ng-repeat="i in data">

            <div class="title span9">{{i.title}}</div>
            <div class="date span2">{{i.created |date:"medium" }}</div>
            <div class="contents span12">{{i.body}}</div>
            <div class="toolbar span12">
                <button class="btn btn-primary reply-btn">Reply</button>
            </div>
            <div class="reply span12" data-ng-repeat="r in i.replies">
                <div class="date pull-right">{{r.created|date:"medium"}}</div>
                <div class="contents span12">{{r.body}}</div>
            </div>
        </div>
    </div>
    Hello
</div>

